# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-ldjyd.southamerica-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='PAHNULSRTBF4LKNR'   password='jHVNxQpCwI9tTma06a/uE0/dGCF+FMuHq5AHhRxI2+ZIAIZ203lOSKc/ZRaEY9Dd';