# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-ldjyd.southamerica-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username={{API_KEY}}   password={{API_SECRET}};
sasl.mechanism=PLAIN